body{
    font-family: Arial ;
    padding-top: 180px;
    text-align: center
}

h2{
    color: #FF0000	;
}

ul{
    display: flex	;
}

li{
  list-style: none	;
}

nav{
    background: #fff;
    position: fixed	;
    height: 100px;
    top: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    text-align: center ;
}