body{
    font-family: serif;
    padding-top: 30px;
    text-align: center;
}

h2{
    color: #FF0000;
}

ul{
    display: flex;
    margin-right: auto;
    margin-left: auto;
    display: flex;
	justify-content: space-around;
}

li{
    list-style: none;
    display: inline;
    margin: 0px;
}

nav{
    background: #fff;
    position: fixed;
    height: 100px;
    top: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
}

.top_banner_fix{
    position: relative;
}

.top_icon{
    position: absolute;
    top: 50%;
    left: 50%;
   -ms-transform: translate(-50%,-50%);/*ベンダープレフィックス*/
    -webkit-transform: translate(-50%,-50%);/*ベンダープレフィックス*/
    transform: translate(-50%,-50%);/*センター寄せの修正*/
}


.kodawari{
    display: flex;
}

.kodawari_product img{
    flex: 3;
    position: relative;
    padding-top: 40px;
    text-align: auto;
}

.kodawari_product p{
    flex: 1;
    min-height: 300px;
    margin-left: 20px;
}

.kodawari_images {
    display: flex;
  }

  .kodawari_image01 {
    flex-grow: 1;
    width: 300px;
    height: auto;
  }

  .kodawari_image02 {
    flex-grow: 1;
    width: 300px;
    height: auto;
  }